<div class="container">
  <!-- <p>Hola mundo</p>

<div>
  <h1>IDGS 902</h1>
</div>
<div>
  {{ title }}
</div>

<div>
  La suma de 2 + 2 es: {{ 2 + 2 }}
</div>

<div>
  El doble de 3 es: {{ duplicarN(3) }}
</div>
<hr>
<div>
  <p>Apellido</p>
  {{alumno.nombre | uppercase}}
</div>

<div>
  <p>Apellido</p>
  {{alumno.apellido | lowercase}}
</div>

<div>
  <p>Inscrito</p>
  {{alumno.inscrito | currency}}
</div>

<div>
  <p>Fecha de nacimiento</p>
  {{alumno.fechaNacimiento | date: 'dd/MM/yyyy'}}	
</div>
<hr>
<app-grupos></app-grupos>
<hr>
<app-alumno></app-alumno>
<hr>
<app-idgs></app-idgs> -->
<app-menu></app-menu>
<div class="container">
  <div class="row my-5">
    <!-- <app-suma></app-suma>
    <hr>
    <app-operas-bas></app-operas-bas> -->
    <app-distancias></app-distancias>
  </div>
</div>
<!-- <app-iric></app-iric> -->
</div>