<h1>Registro de alumno</h1>
<div class="row">
    <div class="col-6">
        <form [formGroup]="alumnosForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="matricula" class="form-label">Matricula</label>
                <input type="text" formControlName="matricula" name="matricula" id="matricula" class="form-control">
                <div *ngIf="alumnosForm.get('matricula')?.touched && alumnosForm.get('matricula')?.errors?.['required']" class="alert-danger">
                    Este campo es requerido
                </div>
            </div>
            <div class="mb-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" name="nombre" id="nombre" class="form-control">
                <div *ngIf="alumnosForm.get('nombre')?.touched && alumnosForm.get('nombre')?.errors?.['required']" class="alert-danger">
                    Este campo es requerido
                </div>
            </div>
            <div class="mb-4">
                <label for="edad" class="form-label">Edad</label>
                <input type="text" formControlName="edad" name="edad" id="edad" class="form-control">
            </div>
            <div class="mb-4">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" formControlName="correo" name="correo" id="correo" class="form-control">
                <div *ngIf="alumnosForm.get('correo')?.touched && alumnosForm.get('correo')?.errors?.['required']" class="alert-danger">
                    Este campo es requerido
                </div>
            </div>
            <div class="mb-4">
                <label for="foto" class="form-label">Foto</label>
                <input type="text" formControlName="foto" name="foto" id="foto" class="form-control">
            </div>
            <div class="mb-4">
                <label for="calificacion" class="form-label">Calificacion</label>
                <input type="text" formControlName="calif" name="calificacion" id="calificacion" class="form-control">
            </div>
            <div class="mb-4">
                <button class="btn btn-info btn-lg" type="submit">Guardar</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <h1>Registros</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th>Califición</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.matricula}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.edad}}</td>
                    <td>{{alumno.correo}}</td>
                    <td>{{alumno.calif}}</td>
                    <td>{{alumno.foto}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>